@model ContactUsMessageModel
@{
    ViewData["Title"] = ViewData["ContentHeader"] = "Read message";
}

@section menu {
    <script type="text/javascript">
        $(function () {
            var menuItem = $('#menu-support');
            menuItem.addClass('active');
            var subMenuItem = menuItem.find('#menu-support-contactus').parent();
            subMenuItem.addClass('active');
        });
    </script>
}

<div class="box box-primary">
    <div class="row">
        <div class="col-md-12">
            <div class="box-body no-padding">
                <div class="box-header with-border">
                    <a asp-area="Admin" asp-controller="ContactUsMessage" asp-action="List" class="btn btn-default">
                        <i class="fa fa-level-up" style="transform: rotate(-90deg);"></i> back to inbox
                    </a>
                    <button type="button" class="btn btn-danger" id="delete-message">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <form asp-area="Admin" asp-controller="ContactUsMessage" asp-action="Delete" id="deleteForm">
                        <input type="hidden" name="ids" value="@Model.Id" />
                    </form>
                </div>
                <div class="mailbox-read-info">
                    <h3>@Model.Title</h3>
                    <h5>
                        From: @Model.Email
                        <span class="mailbox-read-time pull-right">@Model.SendDate</span>
                    </h5>
                </div>
                <div class="mailbox-read-message">
                    @Model.Message
                </div>
                <hr />
                <form asp-area="Admin" asp-controller="ContactUsMessage" asp-action="Send" id="reply-form">
                    <input type="hidden" name="To" value="@Model.Email" />
                    <input type="hidden" name="Subject" value="@Model.Title" />
                    <div class="reply-content">
                        <div class="text-muted">click <span id="show-reply" class="clickable-text">here</span> to reply</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#reply-form').on('click', '#sendReply', function () {
            let txtArea = $('#replyMessage');
            let msgLength = txtArea.val().length;

            if(msgLength === 0) {
                if (confirm('Send this message without text in the body?')) {
                    $('#reply-form').submit();
                } else {
                    return;
                }
            } else {
                $('#reply-form').submit();
            }
        });

        $('#reply-form').on('click', '#show-reply', function () {
            let container = $(this).parent().parent();
            container.empty();

            let template = `
                <div>
                    <h5>Reply to: @Model.Email</h5>
                    <textarea id="replyMessage" name="Reply" style="width: 100%;" rows="7"></textarea>
                    <button type="button" id="sendReply" class ="btn btn-primary">Send</button>
                    <button type="button" id="cancelReply" class ="btn btn-danger">Cancel</button>
                </div>`;

            container.append(template);
        });

        $('#reply-form').on('click', '#cancelReply', function () {
            let container = $(this).parent().parent();
            container.empty();
            container.append('<div class="text-muted">click <span id="show-reply" class="clickable-text">here</span> to reply</div>');
        });

        $('#delete-message').on('click', function () {
            $('#deleteForm').submit();
        });
    });
</script>
