@model ProductModel
@{
    ViewData["Title"] = @Model.MetaTitle ?? Model.Name;
    var description = false;
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <center>
                @{ 
                    var mainImageSrc = "/images/system/no-image.png";
                    if (Model.MainImage != null)
                    {
                        mainImageSrc = Model.MainImage;
                    }
                }
                <img class="product-main-image img-fluid" src="@mainImageSrc" alt="@Model.Name" />
            </center>
            @if (Model.ProductImages.Count > 0)
            {
                <div class="row">
                    <div class="col-md-12 product-image-container">
                        @foreach (var img in Model.ProductImages)
                        {
                            <div class="product-image-thumbnail-container">
                                <img src="@img" class="product-image-thumbnail" />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="col-md-8">
            <h4>@Model.Name</h4>
            @{
                string mLink = "";
                foreach (var manufacturer in Model.Manufacturers)
                {
                    mLink += "<a href=\"/Manufacturer/" + manufacturer.Name + "\">" + @manufacturer.Name + "</a>, ";
                    // <a asp-area="" asp-controller="Manufacturer" asp-action="@manufacturer.Name">@manufacturer.Name</a>
                }
                mLink = mLink.TrimEnd(new char[] { ' ', ',' });
            }
            <h6>@Html.Raw(mLink)</h6>
            <h6>@Model.Price.ToString("C2")</h6>
            <form asp-area="" asp-controller="Cart" asp-action="Add" method="post">
                <input type="hidden" value="@Model.Id" name="id" />
                <button type="submit" id="addToCart" class="btn btn-primary btn-sm">Add to cart</button>
            </form>
        </div>
    </div> <!-- row end -->
    <br />
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                @if ((Model.Description != null && Model.Description.Length > 0) || Model.Specifications.Count == 0)
                {
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                    </li>

                    description = true;
                }
                <li class="nav-item">
                    <a class="nav-link @(description == false ? "active" : "")" data-toggle="tab" href="#specification" role="tab">Specification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                @if ((Model.Description != null && Model.Description.Length > 0) || Model.Specifications.Count == 0)
                {
                    <div class="tab-pane active" id="description" role="tabpanel">
                        <br />
                        @await Html.PartialAsync("_ProductDescription", Model)
                    </div>
                }
                <div class="tab-pane @(description == false ? "active" : "")" id="specification" role="tabpanel">
                    <br />
                    @await Html.PartialAsync("_ProductSpecification", Model)
                </div>
                <div class="tab-pane" id="reviews" role="tabpanel">
                    <br />
                    @await Html.PartialAsync("_ProductReview", Model)
                </div>
            </div>
        </div> 
    </div> <!-- row end -->
</div> <!-- container end -->

<script>
    $('.product-image-thumbnail').on('click', function () {
        var imgSrc = $(this).attr('src');
        $('.product-main-image').attr('src', imgSrc);
    });
</script>
