@model FilterViewModel

<h5>Item filter</h5><br />
<form id="filterForm" asp-area="" asp-controller="Manufacturer" asp-action="ManufacturerInfo" method="get">
    <h6>Category</h6> <!-- category filter -->
    <hr />
    @foreach (var category in Model.CategoryFilterViewModel)
    {
        string labelVaue = $"{category.Name} ({category.Quantity})";

        <div>
            <input type="checkbox" id="@category.Name" name="Category" value="@category.Name" />
            <label for="@category.Name">@labelVaue</label>
        </div>
    }
    <button type="submit" class="btn btn-sm btn-primary">Apply</button>

    <br /><br />

    <h6>Price</h6> <!-- price filter -->
    <hr />
    @foreach(var g in Model.PriceGroupings) 
    {
        int keyIndex = Array.IndexOf(Model.PriceRange, g.Key);
        int prevIndex = keyIndex - (keyIndex == 0 ? 0 : 1);
        string minPrice = Model.PriceRange[prevIndex].ToString();
        string maxPrice = g.Key.ToString();
        string labelValue = $"{minPrice} - {maxPrice} ({g.Count()})";

        <div>
            <input type="checkbox" id="@minPrice-@maxPrice" name="Price" value="@minPrice-@maxPrice" />
            <label for="@minPrice-@maxPrice">@labelValue</label>
        </div>
    }
    <button type="submit" class="btn btn-sm btn-primary">Apply</button>
</form>
